.root {
  --mailform-width: 95%;
  --mailform-height: max-content;
  width: var(--mailform-width);
  max-width: 360px;
  height: fit-content;
  opacity: 1;
  padding: var(--p-m);
  flex-wrap: wrap;
  gap: var(--gap-s);
}
.mailform__label {
  position: relative;
  width: 100%;
}
.mailform__label--firstname,
.mailform__label--lastname {
  width: 47%;
}
.mailform__input {
  width: 100%;
  padding: var(--p-xs);
  border: none;
  border-bottom: 2px solid white;
}
.mailform__input--firstname {
  margin-right: auto;
}
.mailform__input--message {
  border: 2px solid white;
  border-radius: 5px;
  height: 8rem;
  resize: none;
}
.mailform__limit {
  width: 100%;
  display: inline-block;
  text-align: end;
  position: absolute;
  bottom: var(--p-s);
  right: var(--p-s);
}
.mailform__error {
  position: fixed;
  bottom: var(--p-s);
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  padding: var(--p-xs);
}
.mailform__button {
  width: 100%;
  height: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 1px 4px white;
  cursor: pointer;
}
.mailform__button:active {
  transform: translate3d(0.5px, 2px, 0);
}
.mailform__button > svg {
  color: white;
}
@keyframes shake {
  40% {
    transform: rotateZ(20deg);
  }
  80% {
    transform: rotateZ(-20deg);
  }
}
.mailform__confirmation {
  width: 100%;
}
.mailform__confirmation > span {
  width: 100%;
}
@media (hover: hover) {
  .mailform__button:hover {
    transform: scale3d(102%, 102%, 102%);
  }
  .mailform__button:hover > svg {
    animation: shake alternate 2 0.3s;
  }
}
