:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 130ms ease;
}

.page {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  z-index: 0;
  position: relative;
}

@media (hover: hover) {
  button:hover {
    transform: scale3d(110%, 110%, 110%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
