.root {
}
.imgctn {
  height: calc(2 * 100vh / 5);
  position: fixed;
}
.section {
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--p-s);
  gap: var(--gap-m);
  margin-top: calc(2 * 100vh / 5 + var(--gap-m));
  scrollbar-width: 0;
}
.section::-webkit-scrollbar {
  display: none;
}
.title {
  text-align: center;
  font-size: var(--font-h1);
}
.article {
  gap: var(--gap-s);
}
.links {
  justify-content: space-evenly;
}
.contacts {
  margin-bottom: var(--m-s);
}
@media screen and (min-width: 900px) {
  .root {
    flex-direction: row;
  }
  .imgctn {
    width: calc(2 * 100vw / 5);
    position: fixed;
    height: 100dvh;
  }
  .section {
    width: calc(3 * 100vw / 5);
    margin-left: auto;
    margin-top: 0;
    padding: var(--p-l);
  }
}
