.root {
  width: 80vmin;
  height: 80dvh;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
}
.root::-webkit-scrollbar {
  display: none;
}
.image_ctn {
  min-width: 100%;
  scroll-snap-align: start;
  background-color: rgb(49, 49, 49);
}
.image {
  height: auto;
  object-fit: cover;
  object-position: center;
}
.video {
  height: auto;
  object-fit: cover;
  object-position: center;
}
.linked_dot_ctn {
  position: fixed;
  bottom: var(--gap-xs);
  left: 50%;
  transform: translateX(-50%);
  width: var(--gap-l);
  height: var(--gap-m);
  justify-content: space-evenly;
  align-items: center;
}
.linked_dot {
  display: block;
  width: var(--gap-xs);
  height: calc(var(--gap-xs) / 2);
  border-radius: calc(var(--gap-xs) / 2);
  background: white;
  transition: width 166ms ease-out;
}
.linked_dot[data-isactive="true"] {
  width: var(--gap-s);
}
.controller {
  position: fixed;
  width: var(--gap-m);
  height: var(--gap-m);
  bottom: var(--gap-xs);
  transition: opacity 166ms ease-out;
  background-color: black;
}
.controller::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url("/icons/chevron.svg") no-repeat center;
}
.controller__left {
  left: var(--gap-s);
  transform: rotate(180deg);
}
.controller__right {
  right: var(--gap-s);
}
.controller:disabled {
  opacity: 0.25;
}
