.root {
  overflow-x: hidden;
  overflow-y: hidden;
  gap: var(--gap-s);
}
.root[data-modalopen="true"] {
  height: 100dvh;
  overflow-y: hidden;
}
.filters_ctn {
  align-items: center;
}
.filters_hint {
  display: flex;
  padding: 0 var(--p-m);
  overflow-x: hidden;
}
.filters_overflow {
  overflow-x: scroll;
  align-items: center;
  gap: var(--gap-xs);
  scrollbar-width: 0;
}
.filters_overflow::-webkit-scrollbar {
  display: none;
}
.controller {
  width: 20px;
  height: 20px;
  position: fixed;
  transition: opacity 166ms ease-out;
}
.controller::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  padding: 0 var(--p-s);
  background: url("/icons/chevron.svg") no-repeat center;
}
.controller__left {
  left: 0.25rem;
  transform: rotate(180deg);
}
.controller__right {
  right: 0.25rem;
}
.filter {
  padding: var(--p-xs);
  font-weight: 600;
}
.filter[data-active="true"] {
  background-color: white;
  color: black;
}
.gallery {
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.albumHint {
  width: var(--gap-m);
  height: var(--gap-m);
  top: var(--gap-xs);
  right: var(--gap-xs);
  background: url("/icons/image-hint.svg") center no-repeat;
  cursor: pointer;
  opacity: 0.85;
}
.image {
  object-fit: cover;
  padding: var(--p-xxs);
  cursor: pointer;
}
.dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.dialog::backdrop {
  background-color: black;
  opacity: 0.85;
}
.close_button {
  margin-left: auto;
  padding: var(--p-xs);
  position: fixed;
  top: var(--gap-xs);
  right: var(--gap-xs);
  z-index: 1;
}
.contacts {
  margin: var(--m-m) 0;
}
@media screen and (min-width: 1080px) {
  .controller {
    display: none;
  }
}
