.root {
  transition: transform 1s ease;
  position: fixed;
  z-index: 1;
}
.showMenu {
  transform: translate3d(0, 0, 0);
}
.hideMenu {
  transform: translate3d(0, -100vh, 0);
}
.button {
  position: fixed;
  z-index: 2;
  top: var(--gap-s);
  left: var(--gap-s);
}
.button__icon {
  width: 2rem;
  height: 2rem;
}
.links {
  gap: var(--gap-m);
}
@media screen and (min-width: 900px) {
  .root {
    width: calc(2 * 100vw / 5);
    border-right: 2px solid white;
  }
  .links {
    width: calc(2 * 100vw / 5);
  }
  .hideMenu {
    transform: translate3d(calc(-2 * 100vw / 5 - 2px), 0, 0);
  }
}
